<head>
  <title>
    <%=title %>
  </title>
  <style>
    .center {
      width: 60%;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="center">
    <table>
      <tr>
        <th>图书ID</th>
        <th>书名</th>
        <th>作者</th>
        <th>总量</th>
        <th>编辑</th>
        <th>删除</th>
      </tr>
      <% data.forEach((item)=>{ %>
        <tr>
          <td>
            <%=item.b_id %>
          </td>
          <td>
            <%=item.b_name %>
          </td>
          <td>
            <%=item.b_author %>
          </td>
          <td>
            <%=item.b_allnum %>
          </td>
          <td>
            <a role="button" href="/edit/<%=item.b_id %>">编辑</a>
          </td>
          <td>
            <a role="button" href="/del/<%=item.b_id %>">删除</a>
          </td>
        </tr>
        <% }) %>
    </table>
    <p><a role="button" href="/add">添加</a></p>
  </div>

</body>